$white: #ffffff;
$black: #000000;
$tuna: #373742;
$smoky: #f7f7f7;
$alabaster: #fafafa;
$gray: #323232;
$black_header: #1d1d1d;
$yellow: #ffbd56;
$dark_yellow:#ed8c0f;
$border: $black;
$base: $black;
$link: $black;
$bg-base: $white;
$sec_bg:#262626;
$gold: #dbc25c;
$title_color: #292940;
$white_gray:#7b7b7b;



$f-size: 16px;

//font-weight
$thin:100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$footer: 260px;

$contentWidth: 1200px;

$f-stack-spec: 'Song Myung', sans-serif;
$f-stack-spec-two: 'AlegreyaSC',sans-serif;
$f-stack: 'Open Sans', serif;